* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(17, 15, 53);
  font-family: cursive;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
